/* Box sizing rules */
@import url("https://fonts.goggleapis.com/css2?family=Poppins:wght@400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, wich suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* a elements taht don't hace a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherits fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  cursor: default;
}

body {
  background-color: rgb(219, 217, 217);
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #343434;
  z-index: 100;
}
.nav__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.nav__menu__logo {
  display: grid;
  place-content: center;
  cursor: pointer;
}
.nav__menu__logo img {
  height: 50px;
}
.nav__menu__label, .nav__menu__input {
  display: none;
}
.nav__menu__links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__menu__links__items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__menu__links__items__item {
  margin: 15px;
  list-style: none;
  transition: 0.2s ease-in;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav__menu__links__items__item a {
  color: #6f6f6f;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
}
.nav__menu__links__items__item::after {
  content: "";
  display: block;
  background: white;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  -webkit-clip-path: var(--clippy);
          clip-path: var(--clippy);
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
.nav__menu__links__items__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
@media (max-width: 800px) {
  .nav__menu__label {
    display: block;
  }
  .nav__menu__links {
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    -webkit-clip-path: circle(0 at center);
            clip-path: circle(0 at center);
    transition: -webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
    background: rgba(52, 52, 52, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .nav__menu__links__items {
    display: flex;
    flex-direction: column;
  }
  .nav__menu__links__items__item a {
    color: white;
  }
  .nav__menu__input:checked + .nav__menu__links {
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
}

.beat {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

.card {
  width: 250px;
  height: 120px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5px;
  height: 15%;
  width: 100%;
  padding: 0 0.2em;
}
.card__top img {
  width: 25px;
  height: 25px;
}
.card__top__deleteBtn {
  background-color: transparent;
  border: none;
  color: #777575;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.card__top__deleteBtn:hover {
  transform: scale(1.2);
}
.card__bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 85%;
}
.card__bottom .check {
  margin-left: 5px;
}
.card__bottom p {
  color: #343434;
  font-weight: bold;
  margin-left: 10px;
}
.card__bottom input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
.card__bottom input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}
.card__bottom input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.cardList {
  display: flex;
}
@media (max-width: 800px) {
  .cardList {
    flex-direction: column;
  }
}
.cardList .finished,
.cardList .notFinished {
  width: 300px;
  margin: 15px;
}
.cardList .finished__title,
.cardList .notFinished__title {
  display: flex;
  justify-content: space-between;
}
.cardList .finished__title button,
.cardList .notFinished__title button {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.form {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 2em;
}
.form__input {
  border-radius: 10px;
  border: none;
  outline: none;
}
.form__btn {
  border-radius: 10px;
  border: none;
  background-color: rgb(80, 231, 135);
  color: #fff;
  width: 80px;
  height: 30px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.form__btn:hover {
  transform: scale(1.2);
}

.pokeCard {
  width: 330px;
  height: 400px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #343434;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}
.pokeCard img {
  width: 200px;
  height: 200px;
}
.pokeCard .pokeCard__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokeCard .pokeCard__data .pokeName {
  font-size: 25px;
  letter-spacing: 0.5em;
}
.pokeCard .pokeData {
  width: 330px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.pokeCard .pokeData__types__images {
  display: flex;
  gap: 5px;
}
.pokeCard .pokeData__types__images img {
  width: 25px;
  height: 25px;
}
.pokeCard .pokeData .attack {
  border: 1px solid orange;
  border-width: 0 2px;
  width: 110px;
}

.searchBar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 5px;
  color: #6f6f6f;
}
.searchBar img {
  width: 20px;
  height: 20px;
  padding: 0.2em;
}
.searchBar input[type=text] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.searchBar button {
  background-color: transparent;
  border: none;
  padding: 0.2em;
  cursor: pointer;
}
.searchBar button img {
  width: 30px;
  height: 30px;
}

.poke {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}

/* 404 */
.errorDiv {
  width: 100%;
  height: 50vh;
  display: grid;
  place-content: center;
  color: #3f3f3f;
}

.errorImage {
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.todo {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=main.css.map */